{% extends "main/base.html" %}

{% block title %}Автора{% endblock %}
{% block  content %}
    <div class="container"></div>
    <h1>Авторы</h1>
    <div class="payload">
        <table class="table table-hover">

            <thead>
            <tr>
                <th scope="col"><span style="color: black; ">ID</span></th>
                <th scope="col"><span style="color: black; ">Имя</span></th>
                <th scope="col"><span style="color: black; ">Почта</span></th>
                <th scope="col"><span style="color: black; ">Количество книг</span></th>
            </tr>
            </thead>
            <tbody>
            {% for author in author_list %}
                <tr>
                    <th scope="row"><span style="color: #727272; ">{{ author.id }}</span></th>
                    <th scope="row"><span style="color: #727272; ">{{ author.name }} {{ author.surname }}</span></th>
                    <th scope="row"><span style="color: #727272; ">{{ author.email }}</span></th>
                    <th scope="row"><span style="color: #727272; ">{{ author.books.count }}</span></th>
                    {% if request.user.is_authenticated %}
                        <th scope="row"><span><a href="{% url "author_delete" author.id %}">(Delete)</a></span></th>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %} 